.generalSection{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #111;
}

.generalSection .boxSection{
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #111;
    float: left;
    border: 1px solid rgba(0,0,0,0.2);
    box-sizing: hidden;
}

.generalSection .boxSection::before{
    content: '';
    position: absolute;
    top: 6px; 
    left: 6px;
    right: 6px;
    bottom: 6px;
    background-color: #1d1d1d;
    box-shadow: 0 1px 4px #000;
    transition: 2s ease-in-out;
}

.generalSection .boxSection:hover:before{
    transition: 0s ease-in-out;
}
.generalSection .boxSection:nth-child(9n+1):hover:before{
    background-color: #f00;
    box-shadow: 0 0 3px #ff0000
                0 0 10px #ff0000;
}

.generalSection .boxSection:nth-child(9n+2):hover:before{
    background-color: #0f0; 
    box-shadow: 0 0 3px #0f0
                0 0 10px #0f0;
}
.generalSection .boxSection:nth-child(9n+3):hover:before{
    background-color: #00f;
    box-shadow: 0 0 3px #00f
                0 0 10px #00f;
}
.generalSection .boxSection:nth-child(9n+4):hover:before{
    background-color: #ff0;
    box-shadow: 0 0 3px #ff0
                0 0 10px #ff0;
}
.generalSection .boxSection:nth-child(9n+5):hover:before{
    background-color: #0ff;
    box-shadow: 0 0 3px #0ff
                0 0 10px #0ff;
}
.generalSection .boxSection:nth-child(9n+6):hover:before{
    background-color: #f0f;
    box-shadow: 0 0 3px #f0f
                0 0 10px #f0f;
}
.generalSection .boxSection:nth-child(9n+7):hover:before{
    background-color: #e91e63;
    box-shadow: 0 0 3px #e91e63
                0 0 10px #e91e63;
}
.generalSection .boxSection:nth-child(9n+8):hover:before{
    background-color: #00ffad;
    box-shadow: 0 0 3px #00ffad
                0 0 10px #00ffad;
}
.generalSection .boxSection:nth-child(9n+9):hover:before{
    background-color: #f45103;
    box-shadow: 0 0 3px #f45103
                0 0 10px #f45103;
}
