:root{
    --titi:'Titillium Web', sans-serif;
    --color-primario: #1D3357;
    --color-secundario: #ffce00;
    --blanco:#fff;
    --rojo-claro: #e84855;
    --none:none;
    --x10:10;
    --x100:100;
    --x1000:1000;
    --Lexend:'Lexend Deca', sans-serif;
    --Raleway:'Raleway', sans-serif;
    --Open:'Open Sans', sans-serif;
}

* {
    /* outline: red 1px solid; */
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-transition: 0.4s ease-in-out;
 }
/* v1.1 */
                    /* nav  */
.navbar{
    position: fixed;
    top: 0; 
    right: 0;
    left: 0;
    z-index: var(--x100);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px;

}
.navbar .container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.brand{
    flex: .2;
    margin-top: 20px;
    margin-bottom: 20px;
}
.brandText{
    font-family: var(--titi);
    color: var(--color-secundario);
    font-size: 25px;
    line-height: 1px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 10px;
}
.items{
    flex: .6;
    justify-content: space-around;
    display: flex;
}
.items a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .4s ease-in-out;
    padding: 10px 0;
    font-family: 'Open Sans';
}
.link-active{
    border-bottom: 2px solid var(--color-secundario);
    color: var(--color-secundario) !important;
}
.items a:hover{
    color: var(--color-secundario);
}
.i-menu{
    display: none;
}

/* home */
.home{
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background-image: url('../img/laptop.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.overlay{
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background-color: rgba(29, 51, 87, 0.5);
}

.home .container{
    display: table;
    height: 100vh;
}
.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.banner{
    display: table-cell;
    vertical-align: middle;
}
.sentence{
    color: #fff;
    font-family: var(--Raleway);
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 4px;
    font-weight: 700;
    padding-left: 70px;
    padding-bottom: 35px;
    position: relative;
}
.sentence:before{
    content: " ";
    display: block;
    background: var(--color-secundario);
    width: 50px;
    height: 6px;
    top: 31px;
    left: 0;
    position: absolute;
}
.name{
    color: var(--color-secundario);
}
.btnPort{
    transform:translate(-50%,-50%);
    color: #ffce00;
    padding: 30px 60px;
    font-size: 25px;
    letter-spacing: 2px;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    margin-left: 230px;
    margin-top: 30px;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
}
.btnPort:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background:rgba(255,255,255,0.05);
}
.btnPort span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #e84855);
    animation: animate1 2s linear infinite;
    
}
@keyframes animate1{
    0%{ transform:translateX(-100%);}
    100%{ transform:translateX(100%);}
}
.btnPort span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #e84855);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2{
    0%{ transform:translateY(-100%);}
    100%{ transform:translateY(100%);}
}
.btnPort span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #e84855);
    animation: animate3 2s linear infinite;
    
}
@keyframes animate3{
    0%{ transform:translateX(100%);}
    100%{ transform:translateX(-100%);}
}

.btnPort span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #e84855);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4{
    0%{ transform:translateY(100%);}
    100%{ transform:translateY(-100%);}
}


/* desc */
.desc{
    width: 100%;
    background-color: var(--color-primario);
    /* background-image: url(../img/colors.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.descgeneral{
    display: flex;
    flex: 1;
}
.descgeneral .mitad:nth-child(1){
    text-align: center;
    position: relative;
}
.mitad img{
    max-width: 60%;
    height: auto;
    position: relative;
    z-index: 3;

}

.mitad{
    flex: 0 0 50%;
}

.details-info{
    color: var(--blanco);
    background-color: #192532;
    padding: 30px 20px 20px;
    display: flex;
    width: 90%;
}
.details1,
.details2{
    flex: 0 0 50%;
    color: #f9f9f9;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--Open);
}
.details1 p,
.details2 p{
    margin-bottom: 15px;
}
.details1 p span,
.details2 p span{
    font-weight: 400;
    padding-left: 5px;
}
.desc_name{
    color: var(--color-secundario);
    display: block;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 0.75;
    position: relative;
    padding-left: 70px;
    padding-bottom: 15px;
}
.desc_name:before{
    content: " ";
    display: block;
    background: #f3c26b;
    width: 50px;
    height: 2px;
    top: 7px;
    left: 0;
    position: absolute;
}
.desc_about{
    font-size: 29px;
    line-height: 1.3;
    margin-bottom: 20px;
    letter-spacing: .5px;
    color: #f9f9f9;
    font-family: var(--Raleway);
    font-weight: 500;
}
.desc_info{
    line-height: 28px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #9b9b9b;
    margin-bottom: 20px;
}
.downloadCv a{
    position: relative;
    padding: 10px 30px;
    margin: 0 0;
    top: 25px;
    color: var(--blanco);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 2px;
    -webkit-box-reflect: below 1px linear-gradient(transparent);
}

.downloadCv a:hover{
    background-color: var(--color-secundario);
    color: var(--blanco);
    box-shadow: 0 0 25px var(--color-secundario);
    transition-delay: 0.5s ;
}
.downloadCv a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--color-secundario);
    border-left: 2px solid var(--color-secundario);
    transition: .5s;
}
.downloadCv a:hover:before{
    width: 100%;
    height: 100%;
}
.downloadCv a::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--color-secundario);
    border-right: 2px solid var(--color-secundario);
    transition: .5s;
}
.downloadCv a:hover:after{
    width: 100%;
    height: 100%;
}
/* Section Skills */

.skills{
    background-color: #2f2f31;
    width: 100%;
    position: relative;
    padding-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.skills .container{
    text-align: center;
}
.containerCards{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}
.containerCards .card{
    position: relative;
    flex:  0 0 calc(33% - 1rem);
}
.card .face{
    /* width: 300px;
    height: 200px; */
    transition: 0.5s;
}

.card .face.face1{
    background-color: var(--color-primario);
    z-index: 1;
    transform: translateY(100px);
}
.card:hover .face.face1{
    transform: translateY(0);
    height: auto;
    background-color: var(--color-secundario);
    z-index: 3;
}
.content{
    padding: 15px;
    box-shadow: 0px 0px 5px white;
}
.content p{
    letter-spacing: 0.5px;
}
.containerCards .card:hover .content{
    padding: 0;
}
.containerCards .card .face.face1 .content img{
    opacity: 0.7;
    transition: 2s ;
}
.containerCards .card:hover .face.face1 .content img{
    opacity: 1;
    transition: 1s ;
    padding-top: 10px;
    padding-bottom: 10px;
}
.containerCards .card:hover .titleSkill{
    color: var(--color-primario);
}
.containerCards .card .face.face1 .content img{
    max-width: 100px;
}
.card .face.face2{
    position: relative;
    background-color: #fff;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(255,255,255, .5);
    transform: translateY(-100px);
    z-index: -1;
}
.card:hover .face.face2{
    transform: translateY(0);
    z-index: 0;
}
.titleSkill{
    padding:15px;
    color: var(--blanco);
    text-align: center;
    font-size: 1.3em;
}

/* section Filter */


.mainfilter{
    background-color: var(--color-primario);
    width: 100%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.mainfilter .filterbox{
    text-align: center;
    width: 100%;
}
.mywork{
    color: var(--color-secundario);
    display: block;
    text-transform: capitalize;
    font-family: var(--Raleway);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 0.75;
    margin: 0;
    position: relative;
}
.myport{
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
    letter-spacing: 1px;
    font-family: var(--Raleway);
}
.filterbox ul{
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
}
.filterbox ul li{
    list-style-type: none;
    display: block;
    box-sizing: border-box;
}
.filterbox ul li a{
    text-decoration: none;
    box-sizing: border-box;
    color: var(--blanco);
    margin: 10px 20px;
    text-transform: uppercase;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: var(--Open);
}
.filterbox ul li a:hover{
    color: var(--color-secundario);
}
.activefilter{
    border-bottom: 2px solid var(--color-secundario);
    color: var(--color-secundario) !important;
    padding: 10px 0;
}
.imgbox{
    position: relative;
    width: 90%;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 35px;
    padding-bottom: 35px;
}
.box{
    width: 30%;
    height: 350px;
    float: left;
    margin: 5px;
    transition: all .5s ease-in-out;
}
.box img{
    width: 100%;
    cursor: pointer;
    height: 250px;
}
.imgbox .filter:hover .img-f{
    background-color: var(--rojo-claro);
}
/* MODAL */
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out ;
    border: 2px solid var(--color-secundario);
    border-radius: 10px;
    z-index: 102;
    background-color: #000;
    width: 60%;
    max-width: 80%;
}
.modal.active{
    transform: translate(-50%, -50%) scale(1); 
}
.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-secundario);
}
.modal-header .title-modal{
    font-size: 1.25rem;
    font-family: var(--Raleway);
    color: white;
}
.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 3rem;
    /* font-weight: bold; */
    color: white;
}
.modal-body{
    padding: 10px 15px;
}
.modal-im img{
    max-width: 50%;
}                           
#modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    pointer-events: none;
    transition: 200ms ease-in-out ;
}
#modal-overlay.active{
    pointer-events: all;
    /* opacity: 1; */
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-im,
.modal-desc {
    padding: 10px 20px;
}
.desc-info{
    padding: 10px 0;
}
.desc-info{
    color: var(--blanco);
}

/* section contact */
.contact{
    width: 100%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2f2f31;
}
.bgworld{
    background-image: url(../img/World.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}
.bgworld .container{
    text-align: center;
}
.bgworld .container h3::before{
    content: " ";
    display: block;
    background: #f3c26b;
    position: absolute;
    width: 70px;
    height: 2px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center;
    bottom: -30px;
    left: 0;
    right: 0;
    border-radius: 5px;
}
.containerAEC{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cardinfo{
    flex: 0 0 calc(33% - 2rem);
    padding: 30px 20px;
    position: relative;
    background: #343436;
    border: 1px solid #2b2b2d;
    margin-bottom: 50px;
}
.icon-title{
    display: flex;
}
.icon-title p {
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    color: var(--blanco);
    line-height: 40px;
    font-family: var(--Raleway);
}

.information{
    text-transform: uppercase;
    font-family: var(--Open);
    color: #9b9b9b;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 0;
    text-align: left;
    font-size: 13px;
}
.con{
    padding-bottom: 30px;
}
.blockdate{
    width: 100%;
    background: #343436;
    border: 1px solid #2b2b2d;
    padding: 50px 30px;
}
.twodates{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.blockdate input, textarea{
    background: #2f2f31;
    border: 1px solid #29292d;
    color: #f9f9f9;
    width: 100%;
    outline: 0;
    padding: 13px 20px;
    resize: none;
    color: var(--blanco);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--Open);
}
.both{
    flex: 0 0 calc(50% - 5px);
}
.moreinfo div:nth-child(1){
    padding-bottom: 15px;
}
.moreinfo div:nth-child(2){
    padding-bottom: 15px;
}
.moreinfo{
    position: relative;
    width: 100%;
}
.textArea{
    height: 200px;
}
.btnEnviar{
    text-decoration: none;
    display: block;
    cursor: pointer;
    background: #f3c26b;
    border: 2px solid #f3c26b;
    -webkit-transition: all .4s;
    color: #fff;
    font-family: var(--Raleway);
    position: relative;
    z-index: 2;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    line-height: 44px;
    min-width: 170px;
    height: 46px;
    letter-spacing: 2px;
    margin-right: 15px;
    border-radius: 3px;
}
.btnEnviar:hover{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    border: 2px solid var(--color-primario);

}

/* Footer */
.footer{
    background: #343436;
    border-top: 1px solid #2b2b2d;
    text-align: center;
    padding: 25px 0;
}
.copy{
    font-weight: 600;
    font-size: 14px;
    color: #444;
    letter-spacing: 1.7px;
    line-height: 28px;
    padding-top: 20px;
    color: var(--blanco);
}
.icons ul{
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
}
.icons ul li{
    position: relative;
    list-style: none;
    width: 30px;
    margin: 0 10px;
    box-sizing: border-box;
    background-color: transparent;
}

.icons ul li:hover a i{
    color: var(--color-primario);
}
.icons ul li a i{
    color: var(--color-secundario);
    font-size: 20px;
}


/* Styles TABS */
.tabs-container{
    position: relative;

    width: 90%;
    margin: 2em auto;
}
.tabs{
    list-style: none;
    margin: 0;
    padding: 0;
   display: flex;
   justify-content: center;
}
.tabs__item{
    color: var(--blanco);
    line-height: 2.5;
    font-family: var(--Raleway);
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 20px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}
.tabs__item.activetab{
    color: var(--color-secundario);
    font-weight: 600;
    z-index: 20;
    
    border-bottom: 3px solid var(--color-secundario);
}
.panels{
    padding: 1em;
    position: relative;
}
.panels__item{
    position: absolute;
    left: -10000px;
    display: none;
    transition: all .01s ease-in-out;
}
.panels__item.activetab{
    position: relative;
    left: 0;
    display: block;
}
/* contenido de portafolio */
.contain__portafolio{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    /* background-color: var(--blanco); */
}
.contain__portafolio:nth-child(even){
    flex-direction: row-reverse;
}
.panels__photo-Desc{
    flex:0 0 calc(50%);
    background: #192532;
}
.panels__photo-Desc img{
    width: 100%;
    height:  100%;
    /* height: 250px; */
}
.paneldesc{
    display: flex;
    flex-direction: column;
}
.ptitle{
    color: var(--color-secundario);
    font-family: var(--Open);
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.pdesc{
    color: var(--blanco);
    padding-bottom: 15px;
    font-family: var(--Raleway);
    text-align: left;
    line-height: 2;
    padding-right: 40px;
    padding-left: 40px;
}
.twoBtns{
    display: flex;
    justify-content: space-evenly;
}
.boxfilter{
    padding: 20px;
}
.btnstyle{
    position: relative;
    padding: 5px 15px;
    border: 1.5px solid var(--blanco);
    color: var(--blanco);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
}
.btnstyle::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    height: calc(100% - 12px);
    width: calc(100% + 4px);
    background-color: #192532;
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
}
.btnstyle::after{
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background-color: #192532;
    transition: 0.5s ease-in-out;
    transform: scaleX(1);
}
.btnstyle span{
    position: relative;
    z-index: 3;
}
.btnstyle:hover{
    color: var(--color-secundario);
    border: 1.5px solid var(--color-secundario);
}
.btnstyle:hover::before{
    transform: scaleY(0);
}
.btnstyle:hover::after{
    transform: scaleX(0);
    
}

/* .boxfilter{
    position: relative;
    border: 1px solid #000;
    background-color: #060c21;
}
.boxfilter::before{
    content: '';
    position: absolute;
    top: 2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index: -1;
}
.boxfilter:nth-child(1)::before{
    background: linear-gradient(315deg, #ff0057,#e64a19);

} */
.boxinfot__footer{
    text-align: right;
    padding: 5px;
}
.skill__Lengu{
    font-size: 10px;
    padding: 1px 5px 0;
    color: var(--blanco);
    position: relative;
    letter-spacing: 1px;
    background-color: red;
    border-radius: 36px;
    font-weight: 300;
}
.titles{
    text-align: center;
}
.d-none{
        display: none;
}
.change{
    flex-direction: column-reverse;
}
.menuAppear{
    display: flex !important;
    flex-direction: column;
    width: 100%;
    text-align: left;
    background-color: rgba(29, 51, 87, 0.7);
    transition: opacity 5s ease-in-out;
}
.menuAppear a {
    margin-top: 20px;
    margin-right: 60px;
    padding: 15px 20px;
    margin-left: 5px;
}
::-webkit-scrollbar{
    width: 0;
}
#scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    z-index: 99;
    background: rgba(255,255,255,0.05);
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    z-index: 99;
    background: linear-gradient(to top, #ffce00,#ffce00);

    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%,100%{filter: hue-rotate(#ffce00);}
    50%{filter: hue-rotate(#1D3357);}
}

#progressbar::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to top, #ffce00,#ffce00);
   filter: blur(2px); 
}
#progressbar::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ffce00,#ffce00);
    filter: blur(2px); 
 }
 
.yono{
    border-radius: 50%;
    background-color:#ffce00;
}
.yono:hover{
    background-color: var(--color-primario);
}
.opacity-50{
    opacity: .5;
}
.linered{
    border-bottom: 1px solid var(--rojo-claro);
}
.linegold{
    border-bottom: 1px solid var(--color-secundario);
}
.borderror{
    color: var(--rojo-claro);
    border: var(--rojo-claro) 1px solid;
    padding: 5px;
    margin-top: 15px;
}
@media screen and (max-width:1024px){
    .container .descgeneral {
        flex-direction: column;
        text-align: center;
    }
    .descgeneral .mitad:nth-child(1){
        padding-bottom: 20px;
    }
    .card__item {
        flex: 0 0 calc(50% - 1rem);
        margin: 0 5px;
    }
    .details-info {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    .desc_name{
        padding-left: 0;
    }
    .desc_name::before{
        display: none;
    }
    #progressbar{
        display: none;
    }
}
@media screen and (max-width:911px){
    .items{
        flex: 1;
    }
}
@media screen and (max-width:768px){
    .pdesc{
        padding-right: 20px;
        padding-left: 20px;
    } 
}

@media screen and (max-width:767px){
    .cardinfo {
        flex: 1 0 100%;
        padding: 15px 10px;
        margin-bottom: 10px;
    }
    .items{
        display: none;
    }
    .i-menu{
        display: block;
        margin-top: 10px;
        width: 100%;
        text-align: right;
    }
    .i-menu img{
        width: 40px;
    }
    .navbar .container {
        justify-content: space-between;
    }
    .contain__portafolio{
        display: flex;
        flex-direction: column;
        
    }
    .contain__portafolio:nth-child(even){
        flex-direction: column;
    }
    .btnstyle::before,
    .btnstyle::after{
        display: none;
    }
    .btnstyle{
        color: var(--color-secundario);
        border: 1.5px solid var(--color-secundario);
    }
}
@media screen and (max-width:630px){
    .containerCards .card {
        flex: 0 0 100%;
        margin-bottom: 10px;
    }
    .tabs__item {
        font-size: 12px;
        margin: 5px 10px;
    }
    .card__item {
        flex: 0 0 calc(100% - 1rem);
    }
}
@media screen and (max-width:500px){
    .sentence{
        font-size: 40px;
    }
    .btnPort{
        font-size: 20px;
        padding: 20px 30px;
        margin-left: 180px;
    }
    .details-info {
        padding: 20px 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .filterbox .tabs {
        display: flex;
        flex-wrap: wrap;
    }
    .containerAEC{
        width: 90%;
    }
    .blockdate {
        padding: 20px 20px;
    }
    .twodates{
        flex-direction: column;
    }
    .twodates .both:nth-child(1){
        padding-bottom: 15px;
    }
    .btnEnviar{
        margin-right: 0;
    }
    
}
@media screen and (max-width:420px){
    .sentence{
        font-size: 30px;
    }
    .btnPort{
        letter-spacing: 1px;
        padding: 20px 20px;
        margin-left: 160px;
    }
}
@media screen and (max-width:320px){
    .sentence{
        padding-left: 60px;
        line-height: 60px;
        letter-spacing: 2px;
        padding-bottom: 20px;
    }
    .btnPort{
        margin-top: 20px;
        font-size: 18px;
        margin-left: 140px;
        text-align: center;
    }
}