:root{
    --color-primario: #1D3357;
    --color-secundario: #ffce00;
    --blanco:#fff;
    --rojo-claro: #e84855;
    --none:none;
    --x10:10;
    --x100:100;
    --x1000:1000;
    --Lexend:'Lexend Deca', sans-serif;
    --Raleway:'Raleway', sans-serif;;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-transition: 0.4s ease-in-out;
 }
/* v1.1 */
                    /* nav  */
.navbar{
    position: fixed;
    top: 0; 
    right: 0;
    left: 0;
    z-index: var(--x100);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar .container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.brand{
    flex: .2;
}
.items{
    flex: .6;
    justify-content: space-around;
    display: flex;
}
.items a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .4s ease-in-out;
    padding: 10px 0;
    font-family: 'Open Sans';
}
.link-active{
    border-bottom: 2px solid var(--color-secundario);
    color: var(--color-secundario) !important;
}
.items a:hover{
    color: var(--color-secundario);
}
.i-menu{
    display: none;
}

/* home */
.home{
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background-image: url('../img/laptop.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.overlay{
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background-color: rgba(29, 51, 87, 0.5);
}

.home .container{
    display: table;
    height: 100vh;
}
.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.banner{
    display: table-cell;
    vertical-align: middle;
}
.sentence{
    color: #fff;
    font-family: var(--Raleway);
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 4px;
    font-weight: 700;
    padding-left: 70px;
    padding-bottom: 35px;
    position: relative;
}
.sentence:before{
    content: " ";
    display: block;
    background: var(--color-secundario);
    width: 50px;
    height: 6px;
    top: 31px;
    left: 0;
    position: absolute;
}
.name{
    color: var(--color-secundario);
}
.btnPort{
    transform:translate(-50%,-50%);
    color: #ffce00;
    padding: 30px 60px;
    font-size: 25px;
    letter-spacing: 2px;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    margin-left: 230px;
    margin-top: 30px;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
}
.btnPort:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background:rgba(255,255,255,0.05);
}
.btnPort span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #e84855);
    animation: animate1 2s linear infinite;
    
}
@keyframes animate1{
    0%{ transform:translateX(-100%);}
    100%{ transform:translateX(100%);}
}
.btnPort span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #e84855);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2{
    0%{ transform:translateY(-100%);}
    100%{ transform:translateY(100%);}
}
.btnPort span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #e84855);
    animation: animate3 2s linear infinite;
    
}
@keyframes animate3{
    0%{ transform:translateX(100%);}
    100%{ transform:translateX(-100%);}
}

.btnPort span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #e84855);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4{
    0%{ transform:translateY(100%);}
    100%{ transform:translateY(-100%);}
}


/* desc */
.desc{
    width: 100%;
    background-color: var(--color-primario);
    padding-top: 100px;
}
.descgeneral{
    display: flex;
}
.mitad{
    flex: 0 0 50%;
}
.details-info{
    color: var(--blanco);
    background-color: #192532;
    padding: 30px 20px 20px;
}
.details1{
    display: flex;
}
.desc_name{
    color: var(--color-secundario);
    display: block;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 0.75;
    position: relative;
    padding-left: 70px;
    padding-bottom: 15px;
}
.desc_name:before{
    content: " ";
    display: block;
    background: #f3c26b;
    width: 50px;
    height: 2px;
    top: 7px;
    left: 0;
    position: absolute;
}
.desc_about{
    text-transform: capitalize;
    font-size: 29px;
    line-height: 1.3;
    margin-bottom: 20px;
    letter-spacing: .5px;
    color: #f9f9f9;
    font-family: var(--Raleway);
    font-weight: 500;
}
.desc_info{
    line-height: 28px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #9b9b9b;
    margin-bottom: 20px;
}
/* v1.0  */
 /*
.header{
    background-color: var(--color-primario);
}

.nav,
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu{
    padding: 0px 30px;
}
.menu .brand{
    width: 50px;
}
.menu .brand img{
    width: 35px;
    height: 35px;
}

.links{
    display: flex;
}

.links a{
    padding: 16px 22px;
    color: var(--blanco);
    text-decoration: var(--none);
    border-bottom: 6px solid transparent;
    transition: border .3s ease;
}

.links a:hover{
    border-bottom-color: var(--rojo-claro);
}

.links a.active{
    border-bottom-color: var(--rojo-claro);
}

.header .nav .auth button{
    padding: 21px 20px;
    border: var(--none);
    background-color: var(--rojo-claro);
    color: var(--blanco);
    outline: var(--none);
}
.menu-tablet-mobile{
    display: var(--none);
}
@media screen and (max-width:768px){
    .year{display: var(--none);}
    .menu-tablet-mobile{
        display: block;
        width: 35px;
        height: 35px;
        margin: 15px;
    }
    .links{
        display: var(--none);
    }
    .links a{
        padding: 40px 22px;
        font-size: 20px;
        position: relative;
        color: rgba(255,255,255,0.1);
    }
    .links a:before{
        content: attr(data-text);
        position: absolute;
        top: 0;
        overflow: hidden;
        color: var(--color-secundario);
        padding: 40px 0px;
        white-space: nowrap;
    }
    .links:hover a:before{
        animation: animate 0.5s steps(12) forwards;;
    }
    @keyframes animate {
        0%{ width: 387.063px;}
        100%{ width: 0px;}        
    }

    .links a:hover:before{
        animation: animateTwo 2s steps(12) forwards;;
    }
    @keyframes animateTwo {
        0%{ width: 0px;}
        100%{ width: 387.063px;}        
    }
    .flyX{
        position: absolute;
        top: 0;
        right: 0;
    }

    .completeHeader{
        height: 100vh;
        position: fixed;
        width: 100%;
        transition: all 1s ease-in-out;
        z-index: var(--x100);
    }
    .linksMobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
} */
